<h1>Log in</h1>

<form METHOD="POST">
  <div>
    <label for="email">Email</label>
    <br />
    <input type="email" name="email" id="email" required />
  </div>

  <div>
    <label for="password">Password</label>
    <br />
    <input type="password" name="password" id="password" required />
  </div>

  <div>
    <button type="submit">Join!</button>
  </div>
</form>
