<h1>New Message</h1>

<form action="/messages/new" method="POST">
  <label for="title">Title:</label>
  <br />

  <input type="text" name="title" id="title" required />

  <br />
  <label for="message">Message:</label>
  <br />

  <textarea name="message" id="message" required></textarea>
  <br />

  <button type="submit">Create Message</button>
</form>
