<h1>New Membership</h1>
<p>Hint: Look for the comment!</p>
<!-- use "admin" or "member" -->
<form method="POST">
  <label for="secret"></label>
  <input type="text" name="secret" id="secret" required />
  <button type="submit">Submit</button>
</form>
